<h2>Teachers</h2>
<%= form_tag teachers_path, :method => "get" do %>
  <p>
    <%= text_field_tag :search, params[:search] %> <br>
    <%= submit_tag "Search", :name => nil %> <br>
  </p>    
<% end %>
<%= link_to("Back to Home Page", root_path) %> <br>
<%= link_to("Add New Teacher", {:action => "new"}, :class => "action new") %>
<table class="listing" summary="Subject list">
  <tr class = "header">
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  <% @teachers.each do |teacher| %>
    <tr>
      <td><%= teacher.id %></td>
      <td><%= teacher.name %></td>
      <td><%= teacher.email %></td>
      <td class = "actions">
        <%= link_to("Show", teacher_path(teacher), class: "action show") %>
        <%= link_to("Edit", edit_teacher_path(teacher), class: "action edit") %>
        <%= link_to("Delete",teacher_path(teacher), data: {confirm: "ARE YOU SURE?"}, method: :delete, class: "action delete") %>
      </td>
    </tr>
  <% end %>
</table>