<%= link_to("<< Back to index list", {:action => "index"}, :class => "back_to_link") %>
<div class = "teachers new">
  <h2>Create teachers</h2>
  <%= form_for(:teacher, :url => {:action => "create"}) do |f| %>
    <table summary="Teacher form fields">
    <tr>
      <th>Name</th>
      <td><%= f.text_field(:name) %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= f.text_field(:email) %></td>
    </tr>
    </table>
    <div class="form-buttons">
      <%= submit_tag("Submit") %>
      </div>
  <% end %>
</div>