<!DOCTYPE html>
<html>
  <head>
    <title>Assignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
    <div class="container">

      <% if !flash.empty? %>
        <div id="flash"> 

          <% flash.keys.each do |f| %> 
            <% @class = (f=="error")? "#{f} text-danger" : "#{f} text-success" %>
            <div class = "<%= @class %>" >
              <%= flash[f] %>
            </div>
          <% end %>   
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>